<a href="https://colab.research.google.com/github/lucyporte/ATS/blob/main/Python_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 101

[Link to Google Colab](https://colab.research.google.com/drive/1HMd1dDg7BSN9BeaD4P7ogey1wf8o7kt_?usp=sharing)

## Variables

Integer: whole number e.g. 5, 14, -200

Float: decimal point e.g. 5.4, 6.0000, -6.58

Boolean: True or False, 1 or 0

String: characters e.g. "apple", "name"

In [ ]:
var1 = "a"
var2 = 'b'
var3 ="c"
print(var1 + var2+var3)

abc

In [ ]:
string = 'Hello, World, This, Is, Python'
var = string.split(',')
print(var)

['Hello', ' World', ' This', ' Is', ' Python']

In [ ]:
integer = 5
print(float(integer))

print(int(5.7))

5.0
5

In [ ]:
string = 'Hello World'
print(list(string))

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

## Slicing

In [ ]:
string = 'Hello World'
print(string[0:5])

Hello

In [ ]:
string = 'Hello World'
print(string[:1])

H

## If-else statements

In [ ]:
x = 3
y = 4

if x == 5:
    print ("X is 5")
    
elif x!= 5:
    print ("X is not equal to 5")

X is not equal to 5

In [ ]:
if x==5 and y==4:
    print ("X is 5")
else:
    print ("X is not equal to 5")

X is not equal to 5

##List

Square brackets
List items are ordered, changeable, and allow duplicate values.

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist) # allows duplicates

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry","orange"]
print(len(thislist)) # length function

4

In [ ]:
list1 = ["abc", 34, True, 40, "male"] ## allows different data types

In [ ]:
list1[4]= "female" # changeable
print(list1)

['abc', 34, True, 40, 'female']

## Tuples

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

Allows duplicates

In [ ]:
mytuple = ("apple", "banana", "cherry","apple")

In [ ]:
mytuple[0]="pear"
mytuple

NameError: ignored

## Dictionnary

Dictionaries are used to store data values in key:value pairs.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["model"])

Mustang

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": ["Mustang", "abc"],
  "year": 1964,
  "year": 2020
} # overwrites something, does not allow duplicates keys
print(thisdict)

{'brand': 'Ford', 'model': ['Mustang', 'abc'], 'year': 2020}

## For loops

In [ ]:
ARRAY = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for element in ARRAY:
    print(element)

print('For loop terminated')

0
1
2
3
4
5
6
7
8
9
10
For loop terminated

## While loops

In [ ]:
COUNTER = 0

while COUNTER <= 10:

    print(COUNTER)

    COUNTER += 1  # short-hand for COUNTER = COUNTER + 1

print('While loop termintated')

0
1
2
3
4
5
6
7
8
9
10
While loop termintated

## Break

With the break statement we can stop the loop before it has looped through all the items:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

## Continue

With the continue statement we can stop the current iteration of the loop, and continue with the next.

Do not print banana:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

## The range() Function
To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(4,30,3): # from 2 to 29, every 3 numbers
  print(x)

4
7
10
13
16
19
22
25
28

## Functions

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

In [ ]:
def my_function():
  print("Hello from a function")

In [ ]:
my_function()

Hello from a function

In [ ]:
def my_function(y):
  for x in y:
    print(x)

print(y)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

NameError: ignored

In [ ]:
def my_function(x):
  return 5 * x 

# use a return statement to return a value

number = my_function(3)
print(number)
print(my_function(3))
print(my_function(5))
print(my_function(9))

15
15
25
45